<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">
	<test name="Acceptance-Suite">
	    <classes>
	        <class name="test.GetVoicemodTest"/>
	        <class name="test.ChangeLanguageTest"/>
	        <class name="test.GoToPlayStoreTest"/>
	        <class name="test.GoToIosStoreTest"/>
	    </classes>
    </test>
</suite> <!-- Suite -->